.content {
    width: calc(100% - 221px);
    height: calc(100vh - 49px);
    position: absolute;
    top: 49px;
    left: 221px;
    background-color: #E9EBEE;
}
    /*page title*/
    .content .header-content {
        padding: 16px;
        display: flex;
        align-items: center;
    }


        .content .header-content .title {
            font-size: 20px;
            font-weight: bold;
        }

        .content .header-content .content-feature {
            position: absolute;
            right: 16px;
        }

.icon-add {
    background-image: url('/content/icon/add.png');
    background-size: contain;
    width: 16px;
    height: 16px;
}

.content .header-content .content-feature .btn-content-feature span {
    padding: 0 16px 0 16px;
}
/*filter bar*/
.content .filter-bar {
}
/*Grid*/
.content .grid {
}
/*paging bar*/
.content .paging-bar {
}
