.content {
    width: calc(100% - 253px);
    height: calc(100vh - 49px);
    position: absolute;
    top: 49px;
    left: 221px;
    /* background-color: #E9EBEE; */
    padding:0 16px;
}
    /*page title*/
    .content .header-content {
        display: flex;
        align-items: center;
        height: 57px;
    }


        .content .header-content .title {
            font-size: 20px;
            font-weight: bold;
        }

        .content .header-content .content-feature {
            position: absolute;
            right: 16px;
        }

.icon-add {
    background-image: url('/content/icon/add.png');
    background-size: contain;
    width: 16px;
    height: 16px;
}

.content .header-content .content-feature .btn-content-feature span {
    padding: 0 16px 0 16px;
}

/*paging bar*/
.content .paging-bar {
    height: 56px;
    background-color: #ffd800;
    line-height: 56px;
    display: flex;
}

    .content .paging-bar .paging-bar-button{
        margin:auto;
    }
