.content {
    width: calc(100% - 253px);
    height: calc(100vh - 49px);
    position: absolute;
    top: 49px;
    left: 221px;
    /* background-color: #E9EBEE; */
    padding:0 16px;
}
    /*page title*/
    .content .header-content {
        display: flex;
        align-items: center;
        height: 57px;
    }


        .content .header-content .title {
            font-size: 20px;
            font-weight: bold;
        }

        .content .header-content .content-feature {
            position: absolute;
            right: 16px;
        }

.icon-add {
    background-image: url('/content/icon/add.png');
    background-size: contain;
    width: 16px;
    height: 16px;
}

.content .header-content .content-feature .btn-content-feature span {
    padding: 0 16px 0 16px;
}

/*paging bar*/
.content .paging-bar {
    height: 56px;
    line-height: 56px;
    display: flex;
}

    .content .paging-bar .paging-bar-button{
        margin:auto;
    }
        .content .paging-bar .paging-bar-button .pre-all {
            background-image: url('/content/icon/btn-firstpage.svg');
        }
        .content .paging-bar .paging-bar-button .pre {
            background-image: url('/content/icon/btn-prev-page.svg');
        }
        .content .paging-bar .paging-bar-button .paging-1 {
            background-color: #019160;
        }
        .content .paging-bar .paging-bar-button .paging-2 {
        }
        .content .paging-bar .paging-bar-button .paging-3 {
        }
        .content .paging-bar .paging-bar-button .next {
            background-image: url('/content/icon/btn-next-page.svg');
        }
        .content .paging-bar .paging-bar-button .next-all {
            background-image: url('/content/icon/btn-lastpage.svg');
        }
    .content .paging-bar .select-count select{
        height: 30px;
        border:none;
        outline:none;
    }